option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myAPP_SEfall2025/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myAPP_SEfall2025.settings
    DEBUG: "True"
    ALLOWED_HOSTS: "*"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_fix_db_permissions:
    command: "chmod 664 db.sqlite3 && chown webapp:webapp db.sqlite3"
    leader_only: true
  04_create_superuser:
    command: "echo 'from django.contrib.auth.models import User; User.objects.create_superuser(\"admin\", \"admin@example.com\", \"admin123\") if not User.objects.filter(username=\"admin\").exists() else None' | python manage.py shell"
    leader_only: true
